# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci-pipeline

on:
  push:
    branches: 
      - main
    paths-ignore: 
      - README.md
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  AZURE_RG: RG3
  AZURE_SUBSCRIPTION: 1f73000f-41e5-4d0a-93dd-0e7012f20509
  AZURE-LOCATION: WestEurope


jobs:
  build-job:
    runs-on: ubuntu-latest
    env:
      configuration: release
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v2.0.0
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration ${{ env.configuration }}
    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration ${{ env.configuration }}
    - name: Publish 
      run: dotnet publish --configuration ${{ env.configuration }} --output ${{runner.temp }}/publish
# step 18
    - name: Upload the Publish artifact
      uses: actions/upload-artifact@v4
      with: 
        name: publish_artifact
        path: ${{ runner.temp }}/publish
        retention-days: 30
    - name: Upload a Templates Artifact
      uses: actions/upload-artifact@v4
      with:
        name: templates_artifact
        path: ./templates/* 
        retention-days: 30
# step 19
  RG-Job:
    runs-on: ubuntu-latest
    needs: [Build-Job]
    steps:
    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Create Resource Group
      uses: Azure/cli@v2
      with:
        inlineScript: 
          az group create --name ${{ env.AZURE_RG }} --location ${{ env.AZURE-LOCATION }}